.header {
    background: linear-gradient(
            rgba(0, 0, 0, 0.6),
            rgba(0, 0, 0, 0.6)
        ),
        url('../../assets/header.jpg') no-repeat center center/cover;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.header h1 {
    font-weight: bold;
    margin-bottom: 20px;
}

.header p {
    font-size: 1.25rem;
    margin-bottom: 20px;
}

.btn-main {
    color: white;
    padding: 10px 20px;
    font-size: 1.25rem;
    border-radius: 50px;
    text-transform: uppercase;
}

.btn-main:hover {
    background-color: #e68900;
    color: #fff;
}
